.content a {
  color: black;
  text-decoration: underline;
}

.content b, .content strong {
  font-weight: bold;
}

.content em {
  font-style: italic;
}

.content li {
  margin-left: 25px;
  padding-bottom: 12px;
}

.content ul li {
  list-style-type: disc;
}

.content {
  font-family: Trebuchet MS,Verdana,Arial,Helvetica,sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin-bottom: -5px;
}

.content p {
  margin-bottom: 8px;
}

.content br {
  margin-bottom: 8px;
}
