<h1>activate!</h1>
<p>All you need to do now is check the inbox of <b><%= @user.email %></b> for an email from Blavel!</p>
<p>The email will contain a link which you can click to instantly activate your account, making it ready to use.</p>