.post-summary {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #F7F7F7;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.post-summary img {
    border: 2px solid #cccccc;
    margin: 0px 5px;
}

.post-summary .summary a:hover {
    background-color: #ffffff;
}

.post-summary .title {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

.post-summary .pictures-only-title .title {
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
}

.post-summary .location {
    color: #666666;
    margin: -3px 0px 5px;
}

.post-summary table.summary-layout {
    width: 100%;
}

.post-summary .words {
    padding-right: 10px;
    vertical-align: top;
    margin-left: 5px;
}

.post-summary .pictures {
    width: 100px;
    vertical-align: center;
}

.post-summary .more-link {
    font-size: 11px;
    line-height: 1.9em;
}